
.Div {
    margin-top: 70px;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.Color {
    width: 50%;
    margin-left: 25%;
}

.Div2 {
    height: 100%;
    width: 100%;
    position: fixed;
}

.Text {
    top: 50px;
    left: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    position: absolute;

}